Source: pgqd
Section: database
Priority: extra
Maintainer: Marko Kreen <markokr@gmail.com>
Standards-Version: 3.6.2
Build-Depends: debhelper (>= 9), libevent-dev (>= 2.0), libpq-dev, automake, libtool

Package: pgqd
Architecture: any
Conflicts: skytools3-ticker (<< 3.3)
Replaces: skytools3-ticker
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser, postgresql-common, lsb-base
Description: Queue maintenance daemon for PgQ
 .
